// Menu wrapper
.menu-list {
    width: 230px;

    // Menu item
    .menu-item {
        width: 100%;
        min-height: 48px;
        border-radius: 0;
        margin-left: 0;
        padding: 11px 16px;
        justify-content: flex-start;
    }

    .menu-item:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.menu-popper {
    padding-bottom: 8px;
}
