.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: var(--default-layout-header);
    display: flex;
}

.context {
    flex: 1;
}
