.wrapper {
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-button-width: 52px;
    --search-top-spacer: 9px;

    width: 100%;
    height: var(--default-layout-header-height);
    display: flex;
    justify-content: center;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
}

.inner {
    width: var(--default-layout-width);
    height: 100%;
    padding: 0 var(--default-layout-horizontal-spacer);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-link {
    display: flex;
}

.action {
    display: flex;
    align-items: center;
}

.more-btn {
    font-size: 2rem;
    margin-left: 28px;
    padding: 4px 8px;
    cursor: pointer;
    background-color: transparent;
}

.action-btn {
    display: flex;
    align-items: center;
    font-size: 2.2rem;
    color: #161823;
    padding: 4px 8px;
    cursor: pointer;
    background-color: transparent;
}

.user-avatar {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 12px;
    cursor: pointer;
}
